body{
  background-color: #161616;
  color: white;
  }
.popular{
  height: 320px;
  overflow-x: scroll;
  width: 100%;
}
.container{
  width: max-content;
}
.book{
  display: inline-block;
  height: 300px;
  width: 300px;
}
.book__cover{
  height: 200px;
  width: 133px;
}
.book__title{
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 1rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book, header{
  text-align: center;
}
/* body{
  background-color: #161616;
  color: white;
  padding: 10px;
  width: 1500px;
  margin: auto;
}
.bookTitle{
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 1rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
} */
