body{
  background-color: #161616;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  }
.popular{
  height: 320px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.container{
  width: max-content;
}
.popular .book{
  display: inline-block;
  height: 300px;
  width: 300px;
}
/* ----- BLOCK FOR .book STYLE ----- */
.book{
  position: relative;
}
.book__cover{
  height: 200px;
  width: 133px;
}
.book__details{
  color: transparent;
  height: 200px;
  overflow-y: auto;
  padding: 5px;
  position: absolute;
  text-align: justify;
  top: -100%;
  transition: background-color 0.4s,
              top 0.3s,
              color 0.9s 0.3s;
}
.description{
  margin: 0;
}
.book:hover .book__details{
  background-color: #161616;
  color: inherit;
  top: 0;
}
.book__title{
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 1rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book a{
  color: rgb(68, 187, 58);
  text-decoration: none;
}
/* ----- END BLOCK FOR .book STYLE ----- */
header, .popular{
  border-bottom: 1px solid grey;
}
.book, header{
  text-align: center;
}
